<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Produtos e Pedidos</title>
    <link rel="stylesheet" href="/css/layout/sidebar.css">
    <link rel="stylesheet" href="/css/page/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-sidebar">
    <!-- Nav Lateral -->
    <nav class="sidebar">
        <h2>Menu</h2>
        <div class="links-sidebar">
            <ul>
                <li><a href="criarPedido">Criar Pedido</a></li>
                <li><a href="listarPedidos">Listar Pedidos</a></li>
                <li><a href="atualizarStatus">Atualizar Status</a></li>
                <li><a href="gerarRelatorio">Gerar Relatório</a></li>
                <li><a href="cancelarPedido">Cancelar Pedido</a></li>
                <li><a href="cadastrarProduto">Cadastrar Produto</a></li>
                <li><a href="listarProdutos">Listar Produtos</a></li>
                <li><a href="removerProduto">Remover Produto</a></li>
            </ul>
        </div>
        <div class="botoes-sidebar">
            <button href="#" >Logout</button>
            <button href="#" >Suporte</button>
        </div>
    </nav>

    <!-- Conteúdo Inicial -->
    <div>
        <h1 class="apresentacao-inicio">Bem-vindo ao Gerenciamento de Produtos e Pedidos</h1>
        <p class="apresentacao-inicio">Escolha uma opção na barra lateral para começar.</p>
    </div>
</div>

<script src="../js/script.js"></script>
</body>
</html>
