<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciamento de Produtos e Pedidos</title>
    <link rel="stylesheet" href="/css/layout/sidebar.css">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
<div class="container-sidebar">
    <!-- Nav Lateral -->
    <nav class="sidebar">
        <h2>Menu</h2>
        <div class="links-sidebar">
            <ul>
                <li><a href="criarPedido">Criar Pedido</a></li>
                <li><a href="listarPedidos">Listar Pedidos</a></li>
                <li><a href="atualizarStatus">Atualizar Status</a></li>
                <li><a href="gerarRelatorio">Gerar Relatório</a></li>
                <li><a href="cancelarPedido">Cancelar Pedido</a></li>
                <li><a href="cadastrarProduto">Cadastrar Produto</a></li>
                <li><a href="listarProdutos">Listar Produtos</a></li>
                <li><a href="removerProduto">Remover Produto</a></li>
            </ul>
        </div>
        <div class="botoes-sidebar">
            <button href="#" class="logout">Logout</button>
            <button href="#" class="suporte">Suporte</button>
        </div>
    </nav>

    <!-- Conteúdo -->
    <div class="conteudo">
        <h2>Lista de Pedidos</h2>
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Produto</th>
                <th>Data</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody id="tabelaPedidos"></tbody>
        </table>
        <div id="paginacao">
            <button id="btnAnterior" disabled>Anterior</button>
            <span id="paginaAtual">1</span>
            <button id="btnProximo">Próximo</button>
        </div>
    </div>
</div>

<script src="/js/models/pedidosPaginados.js"></script>
</body>
</html>